# AIR QUALITY INDEX PREDICTION

#### It is winter time in Delhi so Cody decided to go for a walk to the news stand and on reaching was surprised to see the air quality index of Delhi in the newspaper . So he decided to collect the air samples of different locations and then took these samples to his lab where he extracted five features of the air he collected which can be used to predict the air quality index and combined it with the air quality index given in the newspapers. You are provided with the data collected by Cody and your job is to design a machine learning model which given the features extracted by Cody can predict air quality

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
train = pd.read_csv("C:\\personal\\data science\\coding ninjas\\pollution\Train.csv")

In [54]:
test = pd.read_csv("C:\\personal\\data science\\coding ninjas\\pollution\Test.csv")

In [33]:
train.describe()

,feature_1,feature_2,feature_3,feature_4,feature_5,target
count,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000,1600.000000
mean,0.004114,-0.027604,-0.044459,-0.042408,0.012005,0.318835
std,0.997338,1.021776,1.011768,1.017189,0.978654,110.741562
min,-3.380125,-3.314844,-3.153118,-3.250169,-2.851707,-379.829794
25%,-0.647165,-0.705030,-0.706385,-0.709504,-0.615880,-71.897040
50%,-0.000360,-0.043769,-0.041272,-0.029756,-0.013527,-0.610665
75%,0.682118,0.645442,0.639130,0.646290,0.650089,71.226603
max,3.287205,3.438895,3.216176,2.985410,3.321770,337.643014

In [34]:
X_train = train.iloc[:,:-1]
y_train = train.iloc[:,-1]

In [35]:
print(X_train.shape,y_train.shape)

(1600, 5) (1600,)

In [36]:
#Normalising data 
u = X_train.mean(axis=0)
s = X_train.std(axis=0)

In [37]:
X_train = (X_train - u)/s

In [40]:
from sklearn.linear_model import LinearRegression

In [41]:
model = LinearRegression()

In [42]:
model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [53]:
model.score(X_train,y_train)

0.9660939669975616

In [62]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature_1  400 non-null    float64
 1   feature_2  400 non-null    float64
 2   feature_3  400 non-null    float64
 3   feature_4  400 non-null    float64
 4   feature_5  400 non-null    float64
dtypes: float64(5)
memory usage: 15.8 KB

In [55]:
y_pred = model.predict(test)

In [72]:
len(y_pred)

400

In [73]:
idx =  [x for x  in range(len(y_pred))]
df2 = pd.DataFrame(data = y_pred, index = idx)

In [74]:
saved = df2.to_csv("C:\\personal\\data science\\coding ninjas\\pollution\\my_submission2.csv")

In [75]:
test.feature_5.head(5)

0   -0.980503
1   -0.355489
2    0.455201
3   -1.314286
4    0.411925
Name: feature_5, dtype: float64

In [76]:
df2.head(5)

            0
0  112.186648
1  115.915897
2  -25.884451
3  -47.650833
4 -102.550133